

    <input type="hidden" value="<%= formData.id %>" name="id">
    <input type="text" name="title" value="<%= formData.title %>"> <br> <br>
    <textarea type="text" name="description" rows="5" cols="50"><%= formData.description %></textarea>
    <br>
    <br>
    <button type="submit">Save</button>
