<h1>Login</h1>
<form action="/user/login" method="post">
    <input type="text" placeholder="username" name="user">
    <input type="password" placeholder="password" name="password">
    <br>
    <br>
    <button type="submit">Login</button>
    <button type="/user/signup">Sign Up</button>
</form>