<ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="/articles">Listing Articles</a></li>
    <li><a href="/user/login">Login</a></li>
    <li><a href="/user/signup">Sign Up</a></li>
    <li><a href="/articles/new">Create New Article</a></li>
</ul>